body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 2em;
}

.App {
  max-width: 1200px;
  background-color: #fff;
  margin: auto;
}

#nav {
  position: fixed;
  height: 100%;
  box-shadow: 0 0 5px #999;
}

iframe {
  border: 1px solid #999;
}

img {
  max-width: 80%;
  margin: auto;
}
