body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
  line-height: 2em;
  color: #222;
}

.App {
  max-width: 1200px;
  background-color: #fff;
  margin: auto;
}

#nav {
  position: fixed;
  height: 100%;
  box-shadow: 0 0 5px #999;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}

iframe {
  border: 1px solid #999;
}

img {
  max-width: 80%;
  margin: auto;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
}

a:hover {
  border-bottom: 1px dashed;
}
